@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Source+Sans+Pro:wght@200&display=swap');


body {
    align-items: center;
    color: #000;
    font-size: 16px;
    background-image: linear-gradient(180deg, indianred, rgb(241, 241, 149));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    height: 100vh;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

main {
    max-width: 50em;
}

p{
    color: rgb(241, 241, 149);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 1px rgb(37, 6, 6);
}
.calculator {
    max-width: 20em;
    border-radius: 12px;
    box-shadow: 0 0 40px 0px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    overflow: hidden;
}
.keys {
    display: grid;
    grid-template-columns: repeat (4, 1fr);
    gap: 1px;
    grid-template-columns: repeat(4, 1fr);
    background-color: yellow;

}
button {
    background-color: lightgray;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 0;
    border: 0;
}

button:hover,
button:active {
    background-color: gray;
}


#deleteBtn:hover {
    background-color: gray;
}

.key-operator, .clear-key, #deleteBtn {
    background-color: rgb(150, 150, 150);
    color: rgb(37, 6, 6);
}

.equal-key {
    grid-column: -2;
    grid-row: 4 / span 2;
    color: rgb(37, 6, 6);
    background-color: rgb(205, 92, 92);
}

.display {
    padding: 30px 0px 0px 0px;
    background-color: rgb(37, 6, 6);
}

.current-value {
    background-color: transparent;
    color: yellow;
    padding: 10px 30px 20px 0px;
    text-align: right;
    font-size: 1.5em;
    border:none;
}

.previous-value {
    background-color: transparent;
    padding: 0px 30px 0px 0px;
    color: rgb(241, 241, 149);
    text-align: right;
    font-size: 1.0em;
    border:none;
}

